  #sidebar-main-content {
      display: flex;
      gap: 10px;
      width: 100%;
      background-color: wheat;
  }

  #split-charges-div,
  #summary-table-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* width: 90%; */
      margin: auto;



  }

  #summary-table-div {
      width: 50%;
      margin: auto;
      text-align: center;
  }

  td,
  select,
  option,
  th,
  input {
      padding: 5px;
      font-size: 20px;
  }

  main {
      width: 100%;
  }

  h2 {
      text-align: center;
  }

  #confirm-btn {
      font-size: 20px;
      background-color: beige;
  }
  
  #confirm-btn:hover{
    background-color: cadetblue;
    transition: background-color .3s ease-in-out;
  }

  h1 {
      text-align: center;
  }