<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folio Viewer</title>
    <link rel="stylesheet" href="../../../Styles/Billing Summary/folioViewer.css">
</head>

<body>
    <main>
        
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>25-April</td>
                    <td>Lunch Order</td>
                    <td>Food</td>
                    <td>2000 Tk</td>
                </tr>
                <tr>
                    <td>25-April</td>
                    <td>Lunch Order</td>
                    <td>Food</td>
                    <td>2000 Tk</td>
                </tr>
                <tr>
                    <td>25-April</td>
                    <td>Lunch Order</td>
                    <td>Food</td>
                    <td>2000 Tk</td>
                </tr>
            </tbody>
            <tfoot>

                <tr>
                    <td style="color: rgb(46, 27, 170);" colspan="">Total</td>
                    <td colspan=""></td>
                    <td colspan=""></td>
                    <td style="color: rgb(103, 27, 170);" colspan="">6000 TK</td>
                </tr>
                <tr>
                    <td style="color: brown;" colspan="">Tax</td>
                    <td colspan=""></td>
                    <td colspan=""></td>
                    <td style="color: brown;" colspan="">1000 TK</td>
                </tr>
                <tr>
                    <td style="color: black;" colspan="">Net Total</td>
                    <td colspan=""></td>
                    <td colspan=""></td>
                    <td style="color: black;" colspan="">5000 TK</td>
                </tr>

                <tr>
                    <td style="color: black;" colspan="">Amount Paid</td>
                    <td colspan=""></td>
                    <td colspan=""></td>
                    <td style="color: black;" colspan="">5000 TK</td>
                </tr>
                <tr>
                    <td style="color: black;" colspan="">Remaining Due</td>
                    <td colspan=""></td>
                    <td colspan=""></td>
                    <td style="color: black;" colspan="">2000 TK</td>
                </tr>
            </tfoot>

        </table>
        <div id="btn-div">
            <a href="./charge_breakdown.html">
                <button id="view-break-down" name="">View Break Down</button>
            </a>
            <button id="split-payment">Split Payment</button>
            <button id="generate-pdf">Generate PDF</button>
        </div>
    </main>
</body>

</html>