<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt Generator</title>
    <link rel="stylesheet" href="../../../Styles/Billing Summary/receipt_generator.css">
</head>

<body>
    <header>
        <div>
            <div style="display: flex; justify-content: space-between;align-items: center;">
                <h3>Hotel Logo</h3>
                <h3>🌟 Sunrise Resort & Spa
                    123 Ocean Drive, Miami, FL</h3>
            </div>
            <p style="text-align: end;">
                Contact info : 📧 info@sunriseresort.com | ☎ (555) 123-4567
            </p>
        </div>
    </header>
    <main>
        <div style="display: grid; grid-template-columns: repeat(4,1fr);">
            <h3>Guest Name : xyz</h3>
            <h3>Room Number : 80</h3>
            <h3>Reservation Id : #58458</h3>
            <h3>Check in Date : 99-99-9999</h3>
            <h3>Check out Date : 99-99-9999</h3>
            <h3>Number Of Nights : 3</h3>
        </div>
        <div id="charges">
            <h2>
                Charges</h2>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>25-Apr</td>
                        <td>Room Night Charge</td>
                        <td>1</td>
                        <td>1000 Tk</td>
                        <td>1000 Tk</td>
                    </tr>
                    <tr>
                        <td>25-Apr</td>
                        <td>Room Night Charge</td>
                        <td>1</td>
                        <td>1000 Tk</td>
                        <td>1000 Tk</td>
                    </tr>
                    <tr>
                        <td>25-Apr</td>
                        <td>Room Night Charge</td>
                        <td>1</td>
                        <td>1000 Tk</td>
                        <td>1000 Tk</td>
                    </tr>
                    <tr>
                        <td>25-Apr</td>
                        <td>Room Night Charge</td>
                        <td>1</td>
                        <td>1000 Tk</td>
                        <td>1000 Tk</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="payment-summary">
            <h2>Payment Summary</h2>
            <table>
                <thead>
                    <tr>
                        <th>Field</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Total Amount Due</td>
                        <td>1000 Tk </td>
                    </tr>
                    <tr>
                        <td>Payed Amount</td>
                        <td>1000 TK </td>
                    </tr>
                    <tr>
                        <td>Payment Method</td>
                        <td>Visa(**** **** ***1234)</td>
                    </tr>
                    <tr>
                        <td>payment Date</td>
                        <td>April 29,2025</td>
                    </tr>
                    <tr>
                        <td>Balance Due</td>
                        <td>0.00 TK
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="btns">
            <button id="email-receipt">Email Receipt</button>
            <button id="email-receipt">Print</button>
            <button id="email-receipt">Download PDF</button>
        </div>
    </main>
    <footer>
        <h3>"Thank you for staying with us. We hope to see you again!"</h3>
        <h3>"All charges are final unless disputed within 24 hours."”</h3>
    </footer>
</body>


</html>