<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Tracer</title>
    <style>
        .order-card {
            border: 1px solid;
            padding: 10px;
        }

        .price-status {
            display: flex;
            justify-content: space-between;

        }

        button {
            border-radius: 5px;
            color: white;
            background-color: rgb(160, 33, 174);
        }
    </style>
</head>

<body>
    <main>
        <div class="order-card">
            <h1>Category : </h1>
            <h2>Service Name : Breakfast</h2>
            <p>
                description : Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, modi fugiat? Et, autem?
                Autem nulla voluptas, quod, accusantium consectetur obcaecati accusamus voluptatum architecto mollitia
                ea sapiente nam ipsa repellendus libero.
            </p>
            <div class="price-status">
                <p>
                    price:10
                </p>
                <button>Pending</button>
            </div>
        </div>
    </main>
</body>

</html>