<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Catalog</title>
    <link rel="stylesheet" href="../../Styles/Concierge Request/service_catalog.css">
</head>

<body>
    <main>
        <a href="./request_tracer.html">See Order Details</a>
       <div id="services">

       </div>
    </main>
    <script type="module" src="../../Javascript/Concierge_Request/services.js"></script>
</body>

</html>