#sidebar-main-content {
    display: flex;
    /* border: 1px solid; */
}

#reservation-table {
    width: 38%;
    /* border: 1px solid; */
    padding: 10px;
}


td,
th,
input,
select,
option {
    font-size: 20px;
    padding: 5px;
}

input,
select {
    width: 100%;
}

#adults,
#children {
    width: 30%;
}

#room-info-table {
    padding: 10px;
}