#sidebar-main-content {
    display: flex;
    /* border: 1px solid; */
}

#reservation-table {
    width: 38%;
    /* border: 1px solid; */
    padding: 10px;
}


td,
th,
input,
select,
option {
    font-size: 20px;
    padding: 5px;
}

input,
select {
    width: 100%;
}

#adults,
#children {
    width: 30%;
}

#room-info-table {
    padding: 10px;
}

#sidebar-main-content {
    width: 100%;
    display: flex;
    gap: 10px;
    /* border: 1px solid; */
}

#main-content {
    width: 40%;
}

#check-in-out-date {
    display: flex;
    gap: 10px;
}

#error-msg {
    text-align: center;
    font-size: 22px;
    /* background-color: wheat; */
    padding: 5px;
    /* border: 1px solid; */
}

#room-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 40%;
    gap: 10px;
    height: 50rem;


}

.card {
    border: 1px solid;
    padding: 10px;

}

#btn:hover {
    background-color: wheat;
    color: blue;
    cursor: pointer;
    box-shadow: 2px 2px blue;
    scale: 1.01;
}