<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split Charges</title>
</head>

<body>
    <main>
        <h1>Guest Folio - Split Charges </h1>
        <div>
            <input type="checkbox" value='Enabled' />Split Charges

        </div>
        <table border="2" id="split-charges-table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Guest A</th>
                    <th>Guest B</th>
                    <th>Split Mode</th>
                </tr>
            </thead>
            <tbody>
                <tr id="1">
                    <td>1</td>
                    <td>01/05/2025</td>
                    <td>Room Night</td>
                    <td id="amount">1000</td>
                    <td class="input">
                        <input type="number" name="" id="guest-a">
                    </td>
                    <td class="input">
                        <input type="number" id="guest-b">
                    </td>
                    <td>
                        <select name="" id="split-mode" onchange="handleSplitModeChange(this.value)">
                            <option value="">Split Mode</option>
                            <option value="Evenly Splitted">Evenly Splitted</option>
                            <option value="Manually Splitted">Manually Splitted</option>
                            <option value="Charge Ownership">Charge Ownership</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>

        <h1>Summary Table</h1>
        <table id="summary-table" border="2">
            <thead>
                <tr>
                    <th>Guest</th>
                    <th>Balance</th>
                    <th>Paid</th>
                    <th>Owes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A</td>
                    <td>1000</td>
                    <td>500</td>
                    <td>500</td>
                </tr>
            </tbody>
        </table>
    </main>
    <script src="./split_charges.js"></script>
</body>

</html>