<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact US</title>
    <link rel="stylesheet" href="../../Styles/Contact_Us/contact_us.css">
  </head>
  <body>
    <main>
      <form action="">
        <label for="">First Name</label> <br />
        <input type="text" placeholder="first name" /> <br />

        <label for="">Last Name</label> <br />
        <input type="text" placeholder="Last name" /> <br />

        <label for="">Email</label> <br />
        <input type="text" placeholder="Email" /> <br />

        <label for="">Phone</label> <br />
        <input type="text" placeholder="Phone" /> <br />

        <label for="">Message</label> <br />
        <textarea name="" id="" placeholder="send a message"></textarea> <br />

        
        <input type="submit" value="Send" />
      </form>
    </main>
  </body>
</html>
