body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    
}
div{
    background-color: rgb(176, 183, 190);
    padding: 10px; 
    border: 1px solid;
    height: auto;
    
    
}
#submit-btn{
    background-color: #ffcc00;
    border : 2px solid;
    text-align: center;
}
h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}